name: Manual Release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: "Version bump"
        required: true
        type: choice
        options:
          - none
          - patch
          - minor
          - major
        default: "none"

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      version: ${{ steps.release.outputs.version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Release Please (Manifest)
        id: release
        uses: googleapis/release-please-action@v4
        with:
          release-type: node
          token: ${{ secrets.GITHUB_TOKEN }}
          default-branch: main
          manifest-file: .rp-manifest.json
          config-file: rp-config.json
          release-as: patch # <-- always create a patch release

  build-and-publish:
    needs: release-please
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.0

      - name: Install dependencies
        run: bun install

      - name: Build app
        run: |
          cd apps/server
          bun run build --bump ${{ inputs.bump }}

      - name: Get new version
        id: get_version
        run: echo "::set-output name=version::$(jq -r .version package.json)"

      - name: Identify user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push version bump
        if: ${{ inputs.bump != 'none' }}
        run: |
          git add .
          git commit -m "chore: bump version to ${{ steps.get_version.outputs.version }}"
          git push

      - name: Create Git tag
        run: |
          git tag -a "v${{ steps.get_version.outputs.version }}" -m "Release v${{ steps.get_version.outputs.version }}"
          git push origin "v${{ steps.get_version.outputs.version }}"

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
          name: v${{ steps.get_version.outputs.version }}
          draft: true
          files: |
            apps/server/build/out/sharkord-linux-x64
            apps/server/build/out/sharkord-linux-arm64
            apps/server/build/out/sharkord-windows-x64.exe
            apps/server/build/out/sharkord-macos-x64
            apps/server/build/out/sharkord-macos-arm64
          body: |
            ## Changes
            (TODO)
